In [26]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [27]:
df = pd.read_csv("T:\GIT HUB PROJECTS\CUSTOMER CURN\Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [28]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [29]:
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [30]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [31]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [32]:
df.drop(['RowNumber','Surname'],axis =1 ,inplace =True)

In [33]:
df

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [34]:
label_encode = LabelEncoder()

In [35]:
labels= label_encode.fit_transform(df.Gender)

In [36]:
df['Gender']=labels

In [37]:
df

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [19]:
labels2= label_encode.fit_transform(df.Geography)

In [20]:
df['Geography'] =labels2

In [21]:
df

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [22]:
x= df.drop(columns = 'Exited',axis =1)

In [23]:
y=df['Exited']

In [24]:
x

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15634602,619,0,0,42,2,0.00,1,1,1,101348.88
1,15647311,608,2,0,41,1,83807.86,1,0,1,112542.58
2,15619304,502,0,0,42,8,159660.80,3,1,0,113931.57
3,15701354,699,0,0,39,1,0.00,2,0,0,93826.63
4,15737888,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,0,1,39,5,0.00,2,1,0,96270.64
9996,15569892,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,15584532,709,0,0,36,7,0.00,1,0,1,42085.58
9998,15682355,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,15628319,792,0,0,28,4,130142.79,1,1,0,38190.78

In [25]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [38]:
x_train,x_test,y_train,y_test = train_test_split(x, y , test_size=0.3,random_state=3)

In [39]:
x

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15634602,619,0,0,42,2,0.00,1,1,1,101348.88
1,15647311,608,2,0,41,1,83807.86,1,0,1,112542.58
2,15619304,502,0,0,42,8,159660.80,3,1,0,113931.57
3,15701354,699,0,0,39,1,0.00,2,0,0,93826.63
4,15737888,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,0,1,39,5,0.00,2,1,0,96270.64
9996,15569892,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,15584532,709,0,0,36,7,0.00,1,0,1,42085.58
9998,15682355,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,15628319,792,0,0,28,4,130142.79,1,1,0,38190.78

In [42]:
from sklearn.preprocessing import StandardScaler
sc =StandardScaler()

In [45]:
x_train =sc.fit_transform(x_train)
x_train

array([[-1.74789528,  0.6047375 , -0.90003184, ...,  0.64953616,
        -1.02693402, -0.75172183],
       [ 0.98998508,  1.51855647,  1.52826759, ...,  0.64953616,
        -1.02693402,  0.32082962],
       [-0.28640319, -1.87711174, -0.90003184, ...,  0.64953616,
         0.97377239, -0.84397901],
       ...,
       [-1.05619599,  0.282824  ,  0.31411788, ...,  0.64953616,
         0.97377239,  1.47170592],
       [ 1.58527178, -0.51676759, -0.90003184, ..., -1.53956018,
         0.97377239,  1.0629009 ],
       [ 0.76782421, -0.73483803,  0.31411788, ...,  0.64953616,
         0.97377239, -1.29779005]])

In [46]:
x_test =sc.fit_transform(x_test)
x_test

array([[-1.44858169,  0.55430583, -0.90634849, ...,  0.63806697,
        -1.039444  ,  1.70505192],
       [-1.50190038, -0.0921369 , -0.90634849, ...,  0.63806697,
        -1.039444  , -0.14648023],
       [-1.44874685, -0.97458253,  0.28936192, ...,  0.63806697,
        -1.039444  ,  1.32607647],
       ...,
       [-0.72498078,  0.82109172, -0.90634849, ...,  0.63806697,
         0.96205279, -0.83305011],
       [ 1.00129769, -1.57998128, -0.90634849, ..., -1.56723361,
         0.96205279, -1.28430662],
       [-1.15045674, -0.58466469,  1.48507233, ...,  0.63806697,
        -1.039444  , -0.60143889]])

In [47]:
linear_model = LogisticRegression()

In [102]:
linear_model.fit(x_train,y_train)

LogisticRegression()

In [106]:
# Assuming linear_model is your trained linear model
y_pred1 = linear_model.predict(x_test)

In [107]:
accuracy_score(y_test,y_pred1)

0.8046666666666666

In [61]:
from sklearn import svm

In [62]:
svm =svm.SVC()

In [63]:
svm.fit(x_train,y_train)

SVC()

In [64]:
y_predit2 =svm.predict(x_train)

In [65]:
accuracy_score(y_predit2,y_train)

0.8627142857142858

In [71]:
from sklearn.ensemble import RandomForestClassifier

In [72]:
rf = RandomForestClassifier()

In [73]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [74]:
y_pred5=rf.predict(x_test)
accuracy_score(y_test,y_pred5)

0.8606666666666667

In [75]:
from sklearn.ensemble import GradientBoostingClassifier

In [76]:
gbc = GradientBoostingClassifier()

In [78]:
gbc.fit(x_train, y_train)

GradientBoostingClassifier()

In [79]:
y_pred6=gbc.predict(x_test)
accuracy_score(y_test,y_pred6)

0.863

In [90]:

pip install xgboost

Collecting xgboost
  Obtaining dependency information for xgboost from https://files.pythonhosted.org/packages/24/ec/ad387100fa3cc2b9b81af0829b5ecfe75ec5bb19dd7c19d4fea06fb81802/xgboost-2.0.3-py3-none-win_amd64.whl.metadata
  Using cached xgboost-2.0.3-py3-none-win_amd64.whl.metadata (2.0 kB)
Requirement already satisfied: numpy in c:\users\tharukesh\.designer\anaconda\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\users\tharukesh\.designer\anaconda\lib\site-packages (from xgboost) (1.11.1)
Using cached xgboost-2.0.3-py3-none-win_amd64.whl (99.8 MB)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [93]:
import xgboost as xgb

model_xgb = xgb.XGBClassifier(random_state=42, verbosity = 0)
model_xgb.fit(x_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=42, ...)

In [94]:
y_pred7=model_xgb.predict(x_test)
accuracy_score(y_test,y_pred7)

0.7796666666666666

In [116]:
print("LOGISTIC REGRESSION",accuracy_score(y_test,y_pred1))
print("SVC",accuracy_score(y_predit2,y_train))
print("RANDOM FOREST",accuracy_score(y_test,y_pred5))
print("GBC",accuracy_score(y_test,y_pred6))
print("XGB",accuracy_score(y_test,y_pred7))

LOGISTIC REGRESSION 0.8046666666666666
SVC 0.8627142857142858
RANDOM FOREST 0.8606666666666667
GBC 0.863
XGB 0.7796666666666666